.toast-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 1rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.toast {
  padding: 0.5rem 1rem;
  background-color: hsl(0, 0%, 90%);
  color: var(--clr-bg);
  font-size: var(--fs-400);
  border-radius: 5px;
}
